input.journalInput{
    border-radius:0 !important;
    height:48px !important;
}

div.css-vj8t7z{
    padding-top: 5px !important;
    padding-bottom:5px !important;
}

div.css-1hwfws3{
    padding: 8px !important;
}
#processor{
    width:215px !important;
    margin-right: 10px !important;
}

